.header {
    padding: 30px;

    h1 {
        display: inline-block;
    }

    .new_user {
        float: right;
        padding: 10px 20px;
    }
}

table {
    width: 60%;
}

.delete {
    color: red;
}
